extends layout

block content





  h1= title
  p Welcome to #{title}



//-   <div>
//-   //- <p>get all existing data back</p>
//-   <button onclick="getallEdata()">get all existing data back</button>
//-   </div>

//-   <table>
//-   <tr>
//-     <td>name</td>
//-     <td>attribute</td>
//-   </tr>
  
//- </table>



