<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
  </div>

  <script>
    function getalldata(){

        console.log("test");
    }
  </script>
  <div>
    <button onclick="getalldata()">撈出所有資料</button>
  </div>  
  <div align="center" valign="center">
    <table border="1pt">
        <tr>
            <td>name</td>
            <td>attribute</td>
        </tr>
    </table>
  </div>
</main>
<br><br><br><br><br><br><br>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>